@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<CategoryListDto>
<div class="d-flex justify-content-between mb-3">
    <h5>Kategoriler</h5>
    <a class="btn btn-primary" asp-controller="Category" asp-action="CACreate">
        <i class="bi bi-plus"></i> Yeni Kategori
    </a>
</div>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Ürün Sayısı</th>
            <th>Oluşturlma Tarihi</th>
            <th>Son Güncelleme Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><span class="badge bg-secondary">@item.ProductCount</span></td>
                <td>@item.CreateDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.UpdateDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <a asp-controller="Category" asp-action="CAUpdate" asp-route-id="@item.Id"
                           class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>